/* Global Reset and Default Styling */
* {
    
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    min-height: 100vh;
    
}

/* Navigation Styling */

/*  Header section */


.navigation   { font-size: larger; margin-top: 20px ; }

.navigation ul  {list-style: none; display: flex; justify-content: space-around; border-bottom: 1px solid whitesmoke; align-items: center; padding-bottom: 20px;}

.mainlogo { 

  width: 150px;
  min-height: auto;
  border-radius: 50%;
  height: auto;
  
  ;}

.navigation li a {font-size: 2.5rem ; color: whitesmoke; text-decoration: none;}

.navigation li a:hover { color: rgb(241, 132, 7); text-decoration: underline; /* font-size: 3rem; */}

header { width: 100%; height: auto; overflow: hidden;
  ;}




/* Media Queries for Nav bar and Header section */



@media only screen and (max-width: 1224px) {.navigation li a { font-size: 2rem ; } .mainlogo {width: 120px;}}

@media only screen and (max-width: 849px) {.navigation li a { font-size: 1.5rem ;} .mainlogo {width: 125px;} .navigation li a:hover {font-size: 2rem;} }

@media only screen and (max-width: 800px) {.navigation li a { font-size: 1.5rem ;} .mainlogo {width: 125px;} }

@media only screen and (max-width: 650px) {.navigation li a { font-size: 1.5rem ; text-decoration: underline;} .mainlogo {width: 100px;} .navigation li a:hover {font-size: 1.3rem;} }

@media only screen and (max-width: 550px) {.navigation li a { font-size: 1.25rem ;} .mainlogo {width: 100px;} }

@media only screen and (max-width: 475px) {.navigation li a { font-size: 1rem ;} .mainlogo {width: 100px;} .navigation li a:hover {font-size: 1rem;} }

@media only screen and (max-width: 455px) {.navigation li a { font-size: .85rem ;} .mainlogo {width: 50px;} .navigation li a:hover {font-size: 1rem;} }

@media only screen and (max-width: 300px) {.navigation li a { font-size: .75rem ;} .mainlogo {width: 50px;} .navigation li a:hover {font-size: .21rem;} }



/* Image Styling */
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto; /* Center the image */
    padding: 20px 0; /* Add padding to create space */
}

/* Styling for the Prices Div */
   

    .prices-container {
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.689);
        color: whitesmoke;
        padding: 20px;
        border-radius: 5px;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: whitesmoke solid 2px;
    }
    

.haircuts,
.prices {
    flex: 1;
}

.haircuts ul,
.prices ul {
    list-style: none;
    padding: 0;
    /* font-size: 2.5rem; */
}
.haircuts ul li,
.prices ul li {
    font-size: 4.5rem;
}
.haircuts ul {
    white-space: nowrap;
}
.haircuts {
    margin-right: 80px;
}
.haircuts ul li,
.prices ul li {
    margin-bottom: 20px;
}
li {
    cursor: pointer;
}
.haircuts ul li:hover {
    text-decoration: underline;
}


/* Image-display id's styling */


#image-display1 img,
#image-display2 img,
#image-display3 img,
#image-display4 img,
#image-display5 img,
#image-display6 img,
#image-display7 img,
#image-display8 img {
    width: 300px;
    height: 300px;
    border: black 10px solid;
    padding: 2px;
}


#image-display1,
#image-display2,
#image-display3,
#image-display4,
#image-display5,
#image-display6,
#image-display7,
#image-display8 {


  position: absolute;
  top: 50%;
  left: calc(9% - 10px); 
  transform: translateY(-50%);
  
  display: none;
}


/* Media Queries */

@media only screen and (max-width: 2000px) {

    #image-display1,
    #image-display2,
    #image-display3,
    #image-display4,
    #image-display5,
    #image-display6,
    #image-display7,
    #image-display8 {
    
    
     position: absolute;
     top: 50%;
     left: calc(6% - 10px); 
     transform: translateY(-50%);
     /* margin-right: 30%;
     margin-top: 30%; */
     display: none;
    }
    }


    @media only screen and (max-width: 1700px) {
    
        #image-display1,
        #image-display2,
        #image-display3,
        #image-display4,
        #image-display5,
        #image-display6,
        #image-display7,
        #image-display8 {
        
        
         position: absolute;
         top: 50%;
         left: calc(3% - 10px); 
         transform: translateY(-50%);
         /* margin-right: 30%;
         margin-top: 30%; */
         display: none;
        }
        }





@media only screen and (max-width: 1600px) {
   /*  .prices-container {
        flex-direction: column;
    } */
    .haircuts ul li,
.prices ul li {
    font-size: 4rem;
}
.prices-container {
    /* display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.689);
    color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    position: absolute; */
    top: 60%;
   /*  left: 50%;
    transform: translate(-50%, -50%);
    border: whitesmoke solid 2px; */
}
}

@media only screen and (max-width: 1500px) {
    
    #image-display1,
    #image-display2,
    #image-display3,
    #image-display4,
    #image-display5,
    #image-display6,
    #image-display7,
    #image-display8 {
    
    
     position: absolute;
     top: 50%;
     left: calc(2% ); 
     transform: translateY(-50%);
     /* margin-right: 30%;
     margin-top: 30%; */
     display: none;
    }
    .haircuts ul li,
.prices ul li {
    font-size: 3.5rem;
    }
}


@media only screen and (max-width: 1400px) {
     .haircuts ul li,
 .prices ul li {
     font-size: 3rem;
 }

 #image-display1,
 #image-display2,
 #image-display3,
 #image-display4,
 #image-display5,
 #image-display6,
 #image-display7,
 #image-display8 {
 
 
  position: absolute;
  top: 50%;
  left: calc(1.5% ); 
  transform: translateY(-50%);
  /* margin-right: 30%;
  margin-top: 30%; */
  display: none;
 }
 /* .prices-container {
     top: 50%;
    
 } */

 }

 @media only screen and (max-width: 1300px) {
    .haircuts ul li,
.prices ul li {
    font-size: 5rem;
}
.prices-container {
    top: 70%;
}

#image-display1,
#image-display2,
#image-display3,
#image-display4,
#image-display5,
#image-display6,
#image-display7,
#image-display8 {


 position: absolute;
margin-left: 35%;
 margin-top: -15%; 
 display: none;
}
#image-display1 img,
#image-display2 img,
#image-display3 img,
#image-display4 img,
#image-display5 img,
#image-display6 img,
#image-display7 img,
#image-display8 img {
    width: 350px;
    height: 350px;
    border: black 15px solid;
    padding: 5px;
}



 }



 @media only screen and (max-width: 1200px) {
    .haircuts ul li,
.prices ul li {
    font-size: 5rem;
}
.prices-container {
    top: 70%;
}

#image-display1,
#image-display2,
#image-display3,
#image-display4,
#image-display5,
#image-display6,
#image-display7,
#image-display8 {


 position: absolute;
margin-left: 33%;
 margin-top: -15%; 
 display: none;
}

 }



 @media only screen and (max-width: 1100px) {
 
  /*   .prices-container {
        top: 90%;
    } */


#image-display1,
#image-display2,
#image-display3,
#image-display4,
#image-display5,
#image-display6,
#image-display7,
#image-display8 {


 position: absolute;
margin-left: 33%;
 margin-top: -15%; 
 display: none;
}

 }

 @media only screen and (max-width: 1000px) {
    .haircuts ul li,
.prices ul li {
    font-size: 4.5rem;
}
.prices-container {
    top: 70%;
}

#image-display1,
#image-display2,
#image-display3,
#image-display4,
#image-display5,
#image-display6,
#image-display7,
#image-display8 {


 position: absolute;
margin-left: 33%;
 margin-top: -15%; 
 display: none;
}

 }


 @media only screen and (max-width: 920px) {
    .haircuts ul li,
.prices ul li {
    font-size: 4rem;
}
.prices-container {
    top: 60%;
}

#image-display1,
#image-display2,
#image-display3,
#image-display4,
#image-display5,
#image-display6,
#image-display7,
#image-display8 {


 position: absolute;
margin-left: 33%;
 margin-top: -24%; 
 display: none;
}

#image-display1 img,
#image-display2 img,
#image-display3 img,
#image-display4 img,
#image-display5 img,
#image-display6 img,
#image-display7 img,
#image-display8 img {
    width: 300px;
    height: 300px;
    border: black 15px solid;
    padding: 5px;
}
 }
 @media only screen and (max-width: 830px) {
    .haircuts ul li,
.prices ul li {
    font-size: 3.5rem;
}
.prices-container {
    top: 60%;
}

#image-display1,
#image-display2,
#image-display3,
#image-display4,
#image-display5,
#image-display6,
#image-display7,
#image-display8 {


 position: absolute;
margin-left: 30%;
 margin-top: -26%; 
 display: none;
}

#image-display1 img,
#image-display2 img,
#image-display3 img,
#image-display4 img,
#image-display5 img,
#image-display6 img,
#image-display7 img,
#image-display8 img {
    width: 300px;
    height: 300px;
    border: black 15px solid;
    padding: 5px;
}
 }



  
@media only screen and (max-width: 730px) {
    .haircuts ul li,
.prices ul li {
    font-size: 3rem;
}
.prices-container {
    top: 50%;
}

#image-display1,
#image-display2,
#image-display3,
#image-display4,
#image-display5,
#image-display6,
#image-display7,
#image-display8 { 


 position: absolute;
margin-left: 35%;
 margin-top: -40%; 
 display: none;
}

#image-display1 img,
#image-display2 img,
#image-display3 img,
#image-display4 img,
#image-display5 img,
#image-display6 img,
#image-display7 img,
#image-display8 img {
    width: 300px;
    height: 300px;
    border: whitesmoke 15px solid;
    padding: 5px;
}
 }
@media only screen and (max-width: 660px) {
    .haircuts ul li,
.prices ul li {
    font-size: 2.5rem;
}
.prices-container {
    top: 50%;
}

#image-display1,
#image-display2,
#image-display3,
#image-display4,
#image-display5,
#image-display6,
#image-display7,
#image-display8 { 


 position: absolute;
margin-left: 27%;
 margin-top: 60%; 
 display: none;
}

#image-display1 img,
#image-display2 img,
#image-display3 img,
#image-display4 img,
#image-display5 img,
#image-display6 img,
#image-display7 img,
#image-display8 img {
    width: 300px;
    height: 300px;
    border: whitesmoke 15px solid;
    padding: 5px;
}
 }


  
@media only screen and (max-width: 575px) {
    .haircuts ul li,
.prices ul li {
    font-size: 2rem;
}
.prices-container {
    top: 55%;
}

#image-display1,
#image-display2,
#image-display3,
#image-display4,
#image-display5,
#image-display6,
#image-display7,
#image-display8 { 


 position: absolute;
margin-left: 27%;
 margin-top: 60%; 
 display: none;
}

#image-display1 img,
#image-display2 img,
#image-display3 img,
#image-display4 img,
#image-display5 img,
#image-display6 img,
#image-display7 img,
#image-display8 img {
    width: 275px;
    height: 275px;
    border: whitesmoke 5px solid;
    padding: 3px;
}
 }
@media only screen and (max-width: 475px) {
    .haircuts ul li,
.prices ul li {
    font-size: 1.5rem;
}
.prices-container {
    top: 45%;
}

#image-display1,
#image-display2,
#image-display3,
#image-display4,
#image-display5,
#image-display6,
#image-display7,
#image-display8 { 


 position: absolute;
margin-left: 27%;
 margin-top: 45%; 
 display: none;
}

#image-display1 img,
#image-display2 img,
#image-display3 img,
#image-display4 img,
#image-display5 img,
#image-display6 img,
#image-display7 img,
#image-display8 img {
    width: 250px;
    height: 250px;
    border: whitesmoke 5px solid;
    padding: 0px;
}
 }




@media only screen and (max-width: 375px) {
    .haircuts ul li,
.prices ul li {
    font-size: 1.25rem;
}
.prices-container {
    top: 55%;
}

#image-display1,
#image-display2,
#image-display3,
#image-display4,
#image-display5,
#image-display6,
#image-display7,
#image-display8 { 


 position: absolute;
margin-left: 27%;
 margin-top: 45%; 
 display: none;
}

#image-display1 img,
#image-display2 img,
#image-display3 img,
#image-display4 img,
#image-display5 img,
#image-display6 img,
#image-display7 img,
#image-display8 img {
    width: 250px;
    height: 250px;
    border: whitesmoke 5px solid;
    padding: 0px;
}
 }
  









/*  @media only screen and (max-width: 1200px) {
    .haircuts ul li,
.prices ul li {
    font-size: 3rem;
}

#image-display1,
#image-display2,
#image-display3,
#image-display4,
#image-display5,
#image-display6,
#image-display7,
#image-display8 {


 position: absolute;
margin-left: 40%;
 margin-top: -28%; 
 display: none;
}

    
   
}  */


/* @media only screen and (max-width: 1200px) {
    .prices-container {
      top: calc(60% - 10px); 
    }
  

    #image-display1,
  #image-display2,
  #image-display3,
  #image-display4,
  #image-display5,
  #image-display6,
  #image-display7,
  #image-display8 {


    position: absolute;
    top: 28%;
    left: calc(40% - 10px); 
    transform: translateY(-50%);
    display: none;
  }
} */
   /*  #image-display1,
    #image-display2,
    #image-display3,
    #image-display4,
    #image-display5,
    #image-display6,
    #image-display7,
    #image-display8 {
      top: -10px; 
      left: 50%;
    } */
  

/* @media screen and (max-width: 1200px) {
    .container {
        position: relative; 
    }

    #image-display1,
    #image-display2,
    #image-display3,
    #image-display4,
    #image-display5,
    #image-display6,
    #image-display7,
    #image-display8 {
        position: absolute;
        top: -10px; 
        left: 0;
        z-index: 1;
        display: none; 
    }

    
    #image-display1.show,
    #image-display2.show,
    #image-display3.show,
    #image-display4.show,
    #image-display5.show,
    #image-display6.show,
    #image-display7.show,
    #image-display8.show {
        display: block;
    }
} */